
table {
    width: 100%;
}

tr td:first-child {
    width: 20%;
}

.dottedTable td,  .dottedTable th {
    border: dotted;
}

.solidTable td,  .solidTable th {
    border: solid;
}

.cats {
    width: 60px;
    height: 60px;
}